 #sidebar.collapsed~#content {margin-left: 0;}
  .logo {text-align: center;padding: 20px 0;}
  .logo img {width: 80px;height: 80px;border-radius: 10px;}
  .logo h5 {margin-top: 10px;}
  .badge-notify {background-color: red;color: white;font-size: 0.7rem;margin-left: 5px;}
  .submenu, .subsubmenu {max-height: 0;overflow: hidden;transition: max-height 0.4s ease;}
  .submenu.show,.subsubmenu.show {max-height: 500px;}
  .nav-toggle {display: flex;justify-content: space-between;align-items: center;}
  .arrow-down {color: white;font-size: 0.7rem;}
  #toggleSidebar {margin-left: 5px;}
  #content nav.navbar {flex-shrink: 0;}
  #sidebar {width: 250px; min-height: 800px ;background-color: #343a40;color: white;transition: all 0.3s ease-in-out;flex-shrink: 0;}
  #sidebar.collapsed {margin-left: -250px;}
  #sidebar .nav-link {color: #adb5bd;cursor: pointer;}
  #sidebar .nav-link:hover {background-color: #495057;color: white;}

  #sidebar .nav-link {
    font-size: 1rem;
    font-weight: 400;
}

      .submenu {
        display: none;
        transition: all 0.3s ease;
    }

    .submenu.show {
        display: block;
    }

    .nav-toggle.active .arrow-down {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }


@media (max-width: 767.98px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;       /* largura total da tela */
        height: 100vh;      /* altura total da tela */
        background: #fff;
        z-index: 9999;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;;
        overflow-y: auto;   /* scroll interno */
    }

    body.sidebar-open #sidebar {
        transform: translateX(0);
    }

    #toggleSidebar {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 10000;     /* acima do menu */
    }

    body.sidebar-open {
        overflow: hidden;   /* desativa scroll do body quando menu aberto */
    }

    .submenu, .subsubmenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .submenu.show, .subsubmenu.show {
        max-height: 500px;
    }
}







